<ul class="pages">
    <li class="login page">
        <div class="jugadores-wrapper">
            <h3 class="title">Esperando jugadores...</h3>
            <div class="tabs-players">
                <div class="row">
                    <!-- Esto se puede pasar a foreach -->
                    <div class="player {{jugadores[0].color}}-borde" *ngIf="jugadores.length > 0">
                        <div class="nombre {{jugadores[0].color}}">{{jugadores[0].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length === 0">
                        <div class="nombre">Nombre player 1</div>
                    </div>     
                    <div class="player {{jugadores[1].color}}-borde" *ngIf="jugadores.length > 1">
                        <div class="nombre {{jugadores[1].color}}">{{jugadores[1].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length < 2">
                        <div class="nombre">Nombre player 2</div>
                    </div>  
                    <div class="player {{jugadores[2].color}}-borde" *ngIf="jugadores.length > 2">
                        <div class="nombre {{jugadores[2].color}}">{{jugadores[2].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length < 3">
                        <div class="nombre">Nombre player 3</div>
                    </div>  
                    <div class="player {{jugadores[3].color}}-borde" *ngIf="jugadores.length > 3">
                        <div class="nombre {{jugadores[3].color}}">{{jugadores[3].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length < 4">
                        <div class="nombre">Nombre player 4</div>
                    </div> 
                    <div class="player {{jugadores[4].color}}-borde" *ngIf="jugadores.length > 4">
                        <div class="nombre {{jugadores[4].color}}">{{jugadores[4].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length < 5">
                        <div class="nombre">Nombre player 5</div>
                    </div> 
                    <div class="player {{jugadores[5].color}}-borde" *ngIf="jugadores.length > 5">
                        <div class="nombre {{jugadores[5].color}}">{{jugadores[5].nombre}}</div>
                    </div> 
                    <div class="player" *ngIf="jugadores.length < 6">
                        <div class="nombre">Nombre player 6</div>
                    </div>
                    
                </div>
                <p *ngIf="mensaje !== null">{{mensaje}}</p>  
            </div>
        </div>
    </li>
</ul>