.mapa{
    background-color:lightblue;
    height:100%;
    .container-actions{
        position:fixed;
        .menu-container{
            padding: 20px 26px 20px 26px;
            background: green;
            font-size: 30px;
            color: white;
            border-right: 2px solid black;
            border-bottom: 2px solid black;

        }
    }
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.content-pj{
    font-family: 'Raleway', sans-serif;
    color:white;
    .turno-info-container{
        display: flex;
        padding: 10px 20px;
        .turno-info{
            display: flex;
            flex: 1;
            flex-direction: column;
            span{
                padding:10px 0px;
            }
        }
        .turno-info-actions{
            margin-top:10px;
        }
    }
}
.container-pj{
    width: 20%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 26px;
}
.header-pj{
    width: 100%;
    height: 20%;
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 26px;
}
.conquistar{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    text-align:center;
}
.font-mini{
    font-size:12px;
}
.row{
    display:flex;
    align-items: end;
    span{
        padding: 10px 25px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        color: white;
    }
}


