.mapa{
    background-color:lightblue;
    height:100%;
    .container-actions{
        position:fixed;
        .menu-container{
            padding: 20px 26px 20px 26px;
            background: green;
            font-size: 30px;
            color: white;
            border-right: 2px solid black;
            border-bottom: 2px solid black;

        }
    }
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.content-pj{
    font-family: 'Raleway', sans-serif;
    color:white;
    .turno-info-container{
        display: flex;
        padding: 10px 20px;
        .turno-info{
            display: flex;
            flex: 1;
            flex-direction: column;
            span{
                padding:10px 0px;
            }
        }
        .turno-info-actions{
            margin-top:10px;
        }
    }
}
.container-pj{
    width: 20%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 26px;
}
.header-pj{
    width: 100%;
    height: 20%;
    
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 26px;
}
.conquistar{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    text-align:center;
}

.row{
    display:flex;
    align-items: flex-start;
    .turno{
        padding: 10px 25px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        color: white;
        animation: turno 15s infinite;
        position:relative;
    }
    .timer{
        padding: 4px 11px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        color: white;
        font-size: 20px;
    }
    @keyframes turno {
        0% {
           // transform: scale(1,1);
            background:rgba(0,0,0,0.5);
        }
        50% {
           // transform: scale(1.2,1.2);
           background:rgba(0,0,0,0.2);
        }
        100% {
           // transform: scale(1,1);
           background:rgba(0,0,0,0.5);
        }
    }
}
.flex-column{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}


.menu-actions{
    width: 200px;
    background: rgba(0,0,0,0.3);
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin-top: 75px;
}