.mapa{
    background-color:lightblue;
    height:100%;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.container-pj{
    width: 20%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 26px;
}
.header-pj{
    width: 100%;
    height: 20%;
    background: rgb(140,94,206);
    background: radial-gradient(circle, rgba(140,94,206,1) 0%, rgba(99,66,145,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 26px;
}


// CSS FINAL
// Color de los paises por defecto si no hay ninguna ficha
.world{
    path{
        fill:#9C7805;
    }
}
// Color del pais en función de la ficha
.verde{
    cursor:pointer;
    path{
        fill:#48C74C;stroke:#000000;
    }
    path:hover{
        fill:#89db8c;
    }
    ellipse{
        fill: rgb(17, 133, 21);
    }
    ellipse:first-child{
        fill: #B5B81D;
    }
}
.verde:hover{
    path{
        fill:#89db8c;
    }
}
.verde.selected{
    ellipse{
        stroke:#000000;
    }
    path{
        fill:#89db8c;
    }
}

.morado{
    cursor:pointer;
    path{
        fill:#7B147D;stroke:#000000;
    }
    path:hover{
        fill:#a31aa6;
    }
    ellipse{
        fill: #8a5dcb;
       
    }
    ellipse:first-child{
        fill: #312148;
    }
}
.morado:hover{
    path{
        fill:#a31aa6;
    }
}

.azul{
    cursor:pointer;
    path{
        fill:#42a5f4;stroke:#000000;
    }
    path:hover{
        fill:#70bcfa;
    }
    ellipse{
        fill: #60aeee;
       
    }
    ellipse:first-child{
        fill: #1e4b6f;
    }
}
.azul:hover{
    path{
        fill:#70bcfa;
    }
}

.naranja{
    cursor:pointer;
    path{
        fill:#f37e39;stroke:#000000;
    }
    path:hover{
        fill:#f3a375;
    }
    ellipse{
        fill: #ce5f1e;
       
    }
    ellipse:first-child{
        fill: #683618;
    }
}
.naranja:hover{
    path{
        fill:#f3a375;
    }
}

.rojo{
    cursor:pointer;
    path{
        fill:#9c240f;stroke:#000000;
    }
    path:hover{
        fill:#f3a375;
    }
    ellipse{
        fill: #e94444;
       
    }
    ellipse:first-child{
        fill: #6a1f1f;
    }
}
.rojo:hover{
    path{
        fill:#f3a375;
    }
}

.amarillo{
    cursor:pointer;
    path{
        fill:#B5B81D;stroke:#000000;
    }
    path:hover{
        fill:#f3a375;
    }
    ellipse{
        fill: #f4b826;
       
    }
    ellipse:first-child{
        fill: #58420e;
    }
}
.amarillo:hover{
    path{
        fill:#f3a375;
    }
}

// Texto
.st8{fill:#FFFFFF;}
.st10{font-size:16px;}




// Desechar una vez acabada la lógica superior

.g-asia{
    cursor:pointer;
    path:hover{
        fill:#89db8c;
    }
}
.g-amen{
    cursor:pointer;
    path:hover{
        fill:#d9dd23;
    }
}
.g-ames{
    cursor:pointer;
    path:hover{
        fill:#9c240f;
    }
}
.g-africa{
    cursor:pointer;
    path:hover{
        fill:#785c05;
    }
}
.g-euro{
    cursor:pointer;
    path:hover{
        fill:#47c1dc;
    }
}

/* Fichas default */
.st6{fill:#EA9B9B;}
.st7{fill:#C64A4A;}
/* Fichas color rojo*/
.f-rojo-s{fill:#e94444;}
.f-rojo-i{fill:#6a1f1f;}
/* Fichas color amarillo */
.f-amar-s{fill:#f4b826;}
.f-amar-i{fill:#58420e;}
/* Fichas color verde */
.f-verde-s{fill:#48C74C;}
.f-verde-i{fill:#B5B81D;}
/* Fichas color violeta */
.f-violeta-s{fill:#8a5dcb;}
.f-violeta-i{fill:#312148;}
/* Fichas color azul */
.f-azul-s{fill:#42a5f4;}
.f-azul-i{fill:#1e4b6f;}
/* Fichas color naranja */
.f-naranja-s{fill:#f37e39;}
.f-naranja-i{fill:#683618;}


.st0{fill:none;stroke:#000000;stroke-dasharray:4,1;}
.st1{fill:none;stroke:#000000;stroke-width:1.2;stroke-dasharray:4.8,1.2;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#48C74C;stroke:#000000;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#7B147D;stroke:#000000;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#2293AC;stroke:#000000;stroke-miterlimit:10.433;}
.st5{fill:#7B147D;stroke:#000000;stroke-miterlimit:4.3217;}
.st11{fill:none;stroke:#000000;stroke-width:1.2;stroke-miterlimit:4.3217;stroke-opacity:0.5853;}
.st12{fill-rule:evenodd;clip-rule:evenodd;fill:#950D98;stroke:#000000;}
.st13{fill-rule:evenodd;clip-rule:evenodd;fill:#8A168C;stroke:#000000;}
.st14{fill:#48C74C;stroke:#000000;}
.st15{fill:#2293AC;stroke:#000000;stroke-miterlimit:10.433;}
.st16{fill:#9C7805;stroke:#000000;}
.st17{fill:#EA4224;stroke:#000000;}
.st18{fill:#B5B81D;stroke:#000000;}
.st19{fill-rule:evenodd;clip-rule:evenodd;fill:#B5B81D;stroke:#000000;}
.st20{fill:none;}

