.page-container{
    background-color: black;
    color:white;
    min-height:100%;
    padding: 20px 0px;
    .container-wrapper{
        padding:20px 0px 0px;
        text-align:center;
    }
    .form-wrapper{
        width:50%;
        margin: 0 auto;
        border:2px solid white;
        padding:10px;
        text-align:center;

        .form-group{
            margin-bottom:10px;
            label{
                display:block;
            }
        }
    }
}