<div class="container">
    <div class="sala" *ngFor="let sala of lista">
        <div class="sala-header">
            <div class="left-sala-header">
                Sala {{sala.id}}
            </div>
            <div class="right-sala-header">
                Jugadores: {{sala.jugadores.length}}
            </div>
        </div>
        <div class="config-sala">
            <span>
                <i class="fa fa-user"></i> 4
            </span>
            <span>
                <i class="fa fa-clock-o"></i> 2min
            </span>
            <span>
                <i class="fa fa-plus-square"></i> auto
            </span>
        </div>
        <div class="players-sala">
            <span ngClass="{{jugador.color}}" *ngFor="let jugador of sala.jugadores">{{jugador.nombre}}</span>
        </div>
        <div class="btn-container">
            <button class="sala-button">ENTRAR</button>
        </div>
    </div>    
</div>
