p{
    color:#fff;
}
.jugadores-wrapper{
    padding: 50px;
    text-align:center; 
    color:white;
}
.title{
    margin-bottom:50px;
}
.tabs-players{
    display:flex;
    flex-direction: column;
}
.row{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.player{
    width: 250px;
    border: 7.5px solid white;
    height: 250px;
    margin: 10px;
    position: relative;
    background-image: url('../../../assets/player.png');
    background-size: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-position-x: center;
    background-position-y: bottom;
    margin-bottom:20px;
    color:black;
}
.nombre{
    position: absolute;
    bottom: 0px;
    background-color: white;  
    right: 0; 
    left: 0;   
    padding: 25px;   
    border-radius: 50%;
    font-size: 20px;
}
.pages{
    background-color:black;
}