<div class="modal-container">
    <div class="modal-wrapper">
        <div class="box" *ngIf="jugador.fase === 0">
            <span>Añadir tropas (max {{jugador.fichasDisp}}) </span>
            <input type="number" name="tropas" min="0" max="{{jugador.fichasDisp}}" [(ngModel)]="fichasAnadir">
            <button class="action-btn {{jugador.color}}" (click)="addFichas(fichasAnadir)">Añadir</button>
        </div>
        <div class="box" *ngIf="jugador.fase === 1">
            <span>Modalidad de ataque</span>
            <div class="buttons-container">
                <button  class="action-btn {{jugador.color}}" (click)="muerteSubita()">Muerte súbita</button>
                <button  class="action-btn {{jugador.color}}" (click)="porTurnos()">Por turnos</button>
            </div>
        </div>
        <div class="box" *ngIf="jugador.fase === 2">
            <span>Transferir unidades</span>
            <div class="font-mini">Máximo: {{jugador.maxAnadir}} </div>
            <input type="number" name="tropas" min="1" max="{{jugador.maxAnadir}}" [(ngModel)]="fichasMover">
            <div class="buttons-container">
                <button class="action-btn {{jugador.color}}" (click)="moverFichas(fichasMover)">Añadir</button>
                <button class="action-btn {{jugador.color}}" (click)="closeModal()">Volver</button>
            </div>
         
        </div>
    </div>
</div>